.grid-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: "header header"
    "sidebar main"
    "footer foter";
    gap: 10px;
    height:100px;
}
.header{
    grid-area: ;
}